version: "3.8"

services:
  api:
    build: .
    container_name: flask_api
    command: sh -c "sleep 5 && flask run --host=0.0.0.0 --port=3141"
    environment:
      - LOGO_DEV_TOKEN=${LOGO_DEV_TOKEN}
      - FLASK_APP=src/server.py
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    ports:
      - "3141:3141"
    volumes:
      - ./src:/app/src
      - ./requirements.txt:/app/requirements.txt
    depends_on:
      - mysql
      - qdrant
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333" # Qdrant API port
    volumes:
      - ./qdrant_storage:/qdrant/storage
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: my_database
      MYSQL_USER: my_user
      MYSQL_PASSWORD: my_password
    command:
      - --wait_timeout=3600 # 1 hour idle timeout
      - --interactive_timeout=3600 # 1 hour interactive timeout
      - --net_read_timeout=120 # 2 minutes for reading a block of data
      - --net_write_timeout=120 # 2 minutes for writing a block of data
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
  # ollama:
  #   image: ollama/ollama:latest
  #   container_name: ollama
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_data:/root/.ollama
  #   restart: unless-stopped

volumes:
  qdrant_data:
  mysql_data:
  ollama_data:
